@import "tailwindcss";

.container {
  @apply mx-auto w-[95%] sm:w-[90%] 2xl:w-[80%];
}

.main-section-header {
  background: rgb(238, 237, 237);
  background: linear-gradient(43deg, rgb(252, 203, 203) 0%, rgb(236, 236, 236) 50%, rgb(250, 250, 250) 100%);
}


/* hide scrollbar but allow scrolling */
.menu,
.breadcrumb {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

.menu::-webkit-scrollbar,
.breadcrumb::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px inherit;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #18181b;
  border-radius: 10px;
}

.inActiveTabButton {
  @apply inline-block cursor-pointer p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300;
}

.ActiveTabButton {
  @apply inline-block p-4 border-b-2 border-pink-500 text-pink-500 rounded-t-lg;
}



.swiper-pagination {
    position: relative !important;
    margin-top: 30px ;
}

.swiper-pagination-bullet {
  background: #ee6bbc;
}

.swiper-pagination-bullet-active {
  background: #ee70dd !important;
}

.offer {
  @apply relative text-gray-800;
}

.offer::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: #da2479;
  top: 3px;
}

@media (min-width: 640px) {
  .offer::after {
    top: 3px;
  }
}

@media (min-width: 768px) {
  .offer::after {
    height: 2px;
    top: -1px;
  }
}

@media (min-width: 1024px) {
  .offer::after {
    height: 2px;
    top: -2px;
  }
}


.breadcrumb {
  display: flex;
  height: 3.25rem;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: .5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255, 251, 251);
  --tw-bg-opacity: 1;
  background-color: #f5f5f5;
}

.breadcrumb__item {
  position: relative;
  display: flex;
  height: 100%;
  flex-shrink: 0;
  align-items: center;
  padding-left: .5rem;
  padding-right: 38px;
  font-family: Dana Light;
}

.breadcrumb__item:first-child {
  padding-right: 1rem;
  padding-left: .5rem;
}

.breadcrumb__item:before,
.breadcrumb__item:after {
  position: absolute;
  left: 0;
  height: 2.5rem;
  width: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(255, 255, 255);
  content: "";
}

.breadcrumb__item:before {
  bottom: -7px;
  transform: rotate(-35deg);
  transform-origin: bottom;
}

.breadcrumb__item:after {
  top: -7px;
  transform: rotate(35deg);
  transform-origin: top;
}

.breadcrumb__item:last-child::after,
.breadcrumb__item:last-child::before {
  display: none;
}

.breadcrumb__item * {
  @apply text-gray-700 font-DanaDemiBold text-sm;
}



/* gallery page styles  */
.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-image {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.close {
  color: #fff;
  font-size: 3em;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.gallery {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

}

.gallery img {
  max-width: 100%;
  cursor: pointer;
}

.gallery img:hover {
  max-width: 100%;
  cursor: pointer;
}


/* morabba  */
@font-face {
  font-family: MorabbaLight;
  font-display: swap;
  src: url("/fonts/Morabba-Light.woff2") format("woff2");
}

@font-face {
  font-family: MorabbaMedium;
  font-display: swap;
  src: url("/fonts/Morabba-Medium.woff2") format("woff2");
}

@font-face {
  font-family: MorabbaBold;
  font-display: swap;
  src: url("/fonts/Morabba-Bold.woff2") format("woff2");
}



/* dana  */
@font-face {
  font-family: DanaRegular;
  font-display: swap;
  src: url("/fonts/DanaFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: DanaMedium;
  font-display: swap;
  src: url("/fonts/DanaFaNum-Medium.woff2") format("woff2");
}

@font-face {
  font-family: DanaDemiBold;
  font-display: swap;
  src: url("/fonts/DanaFaNum-DemiBold.woff2") format("woff2");
}


/* LuckiestGuy  */
@font-face {
  font-family: LuckiestGuy;
  font-display: swap;
  src: url("/fonts/LuckiestGuy-Regular.woff2") format("woff2");
}

@theme {
  --font-MorabbaLight: MorabbaLight;
  --font-MorabbaMedium: MorabbaMedium;
  --font-MorabbaBold: MorabbaBold;

  --font-DanaRegular: DanaRegular;
  --font-DanaMedium: DanaMedium;
  --font-DanaDemiBold: DanaDemiBold;

  --font-LuckiestGuyRegular: LuckiestGuy;

  --color-buttonColor: #FF1F47;
}



